.flex-vert {
    display: flex;
    flex-direction: column;
}

.flex-horz {
    display: flex;
    flex-direction: row;
}

/* styles.module.css */
.foo {
    color: red;
}

.bar {
    background-color: blue;
}